[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.6.0"
django = "==4.2.11"
django-jazzmin = "==2.6.0"
django-localflavor = "==3.1"
python-stdnum = "==1.18"
pytz = "==2022.7.1"
sqlparse = "~=0.5.0"
django-bootstrap-v5 = "==1.0.11"
django-bootstrap-icons = "==0.8.2"
django-middleware-global-request = "==0.3.1"
whitenoise = "==6.4.0"
urllib3 = "~=1.26.19"
boto3 = "==1.26.59"
beautifulsoup4 = "==4.12.0"
certifi = "==2023.7.22"
charset-normalizer = "==3.1.0"
distlib = "==0.3.6"
filelock = "==3.10.0"
idna = "==3.7"
pipenv = "==2023.3.20"
platformdirs = "==3.1.1"
psycopg2-binary = "==2.9.5"
requests = "==2.32.0"
soupsieve = "==2.4"
virtualenv = "==20.21.0"
virtualenv-clone = "==0.5.7"
ipython = "*"
django-isbn-field = "*"
pillow = "*"
tqdm = "~=4.66.3"
django-solo = "==2.0.0"
django-ajax-selects = "*"
python-dotenv = "==0.21.0"
dj-database-url = "==1.0.0"
gunicorn = "~=22.0.0"
google = "*"
steamfront = "*"
django-storages = {extras = ["google"], version = "*"}
django-countries = {extras = ["pyuca"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.4"
