[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipdb = "*"
boto3 = "*"
asgiref = "*"
beautifulsoup4 = "*"
certifi = "*"
charset-normalizer = "*"
distlib = "*"
django = "~=5.2"
django-bootstrap-icons = "*"
django-bootstrap5 = "*"
django-jazzmin = "*"
django-localflavor = "*"
django-middleware-global-request = "*"
filelock = "*"
idna = "*"
pipenv = "*"
platformdirs = "*"
psycopg2-binary = "*"
python-stdnum = "*"
pytz = "*"
requests = "*"
soupsieve = "*"
sqlparse = "*"
urllib3 = "*"
virtualenv = "*"
virtualenv-clone = "*"
whitenoise = "*"
ipython = "*"
django-isbn-field = "*"
pillow = "*"
tqdm = "*"
django-solo = "*"
django-ajax-selects = "*"
python-dotenv = "*"
dj-database-url = "*"
gunicorn = "*"
google = "*"
steamfront = "*"
django-storages = {extras = ["google"], version = "*"}
django-countries = {extras = ["pyuca"], version = "*"}

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.7"
