boto3
django-storages[google]
asgiref
beautifulsoup4
certifi
charset-normalizer
distlib
Django~=4.2.27
django-bootstrap-icons
django-bootstrap-v5
django-jazzmin
django-localflavor
django-middleware-global-request
filelock=3.20.1
idna
pipenv
platformdirs
psycopg2-binary
python-stdnum
pytz
requests
soupsieve
sqlparse
urllib3~=2.6.0
virtualenv
virtualenv-clone
whitenoise
django-countries[pyuca]
ipython
django-isbn-field
Pillow~=11.3.0
tqdm
django-solo
django-ajax-selects
python-dotenv
dj-database-url
gunicorn
google
steamfront