boto3
django-storages[google]
asgiref
beautifulsoup4
certifi
charset-normalizer
distlib
Django~=5.2.12
django-bootstrap-icons
django-bootstrap5
django-jazzmin
django-localflavor
django-middleware-global-request
filelock
idna
pipenv
platformdirs
psycopg2-binary
python-stdnum
pytz
requests
soupsieve
sqlparse
urllib3
virtualenv
virtualenv-clone
whitenoise
django-countries[pyuca]
ipython
django-isbn-field
Pillow
tqdm
django-solo
django-ajax-selects
python-dotenv
dj-database-url
gunicorn
google
steamfront