{% load bootstrap_icons %}
{% load bootstrap5 %}

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Título</th>
        <th scope="col">Autores</th>
        <th scope="col">ISBN</th>
        <th scope="col">Editora</th>
        <th scope="col">Categoria</th>
        <th scope="col">Idioma</th>
        <th scope="col">Estante</th>
    </tr>
    </thead>
    <tbody>
    {% for livro in livros %}
        <tr>
            <td>
                <a class='text-reset text-decoration-none' href="{{ livro.get_absolute_url }}">{% bs_icon 'info-square'%}</a>
            </td>
            <td>{{ livro.titulo }}</td>
            <td>{{ livro.lista_autores }}</td>
            <td>{{ livro.isbn }}</td>
            <td>{{ livro.editora }}</td>
            <td>{{ livro.categoria }}</td>
            <td>{{ livro.idioma }}</td>
            <td>{{ livro.estante }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>