{% load bootstrap_icons %}
{% load bootstrap5 %}
{% load static %}


<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Título</th>
        <th scope="col">Autores</th>
        <th scope="col">Coleção</th>
        <th scope="col">Editora</th>
        <th scope="col">Idioma</th>
        <th scope="col">Estante</th>
    </tr>
    </thead>
    <tbody>
    {% for livro in livros %}
        <tr>
            <td>
                <a class='text-reset text-decoration-none' href="{{ livro.get_absolute_url }}"><img src="{% static 'svg/pencil-square.svg' %}" /></a>
            </td>
            <td>{{ livro.titulo }}</td>
            <td>{{ livro.lista_autores }}</td>
            <td>{{ livro.colecao }}</td>
            <td>{{ livro.editora }}</td>
            <td>{{ livro.idioma }}</td>
            <td>{{ livro.estante }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>