{% extends 'base.html' %}
{% block content_title %}Autor: {{ autor.nome }}{% endblock %}
{#{% block page_actions %}#}
{#    {% if pode_gerar_orcamento %}#}
{#        <a href="/imovel/{{ imovel.id }}/gerar_orcamento/" class="btn btn-success float-right">#}
{#            <i class="fa fa-plus-circle"></i> &nbsp; Gerar Orçamento#}
{#        </a>#}
{#    {% endif %}#}
{#{% endblock %}#}
{% block content %}
    <div class="container">
        <div class="row">
            {% if autor.nacionalidade %}
                <div class="col">
                    <p>
                        <strong>Nacionalidade:</strong> <img src="{{ autor.nacionalidade.flag }}" alt="Bandeira do País"> {{ autor.nacionalidade.name }}
                    </p>
                </div>
            {% endif %}
            {% if autor.pseudonimo_de %}
                <div class="col">
                    <p><strong>Pseudônimo de:</strong> {{ autor.pseudonimo_de }}</p>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="container">
        <br>
        <h5>Livros como Autor Principal</h5>
        {% if autor.livros_como_principal.exists %}
            {% include "includes/lista_de_livros.html" with livros=autor.livros_como_principal.all %}
        {% else %}
            <div class="alert alert-warning" role="alert">
                Não existem livros cadastrados para esse autor como principal.
            </div>
        {% endif %}
    </div>
    {% if autor.livros_como_secundario.exists %}
        <div class="container">
            <br>
            <h5>Livros como Autor Secundário</h5>
            {% include "includes/lista_de_livros.html" with livros=autor.livros_como_secundario.all %}
        </div>
    {% endif %}
    {% if autor.pseudonimos.exists %}
        <div class="container">
            <br>
            <h5>Pseudônimos</h5>
            {% for pseudonimo in autor.pseudonimos.all %}
                <br>
                <h6>{{ pseudonimo.nome }}</h6>
                {% if pseudonimo.livros_como_principal.exists %}
                    {% include "includes/lista_de_livros.html" with livros=pseudonimo.livro_como_principal.all %}
                {% endif %}
                {% if pseudonimo.livros_como_secundario.exists %}
                    {% include "includes/lista_de_livros.html" with livros=pseudonimo.livro_como_secundario.all %}
                {% endif %}
                {% if not pseudonimo.livros_como_principal.exists and not pseudonimo.livros_como_secundario.exists %}
                    <div class="alert alert-warning" role="alert">
                        Não existem livros cadastrados para esse pseudônimo.
                    </div>
                {% endif %}

            {% endfor %}
        </div>
    {% endif %}



{% endblock %}